body{
    box-sizing: border-box;
    bottom: 0;
    margin:0;
    font-family: sans-serif;
}

p {
    font-size: 2.1rem;
    font-weight: 100;
}

h2{
    font-size: 1.8rem;
    font-weight: 400; 
    padding: 2rem 0;
}

li {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.5;
}

#hero{
    height: 100vh;
    background-image: url(../images/apple-pie.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1{
 font-size: 6rem;
 color: white;
 font-weight: 300;
}

#recipe{
    background-color: white;
    margin: 5rem 9rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 50%;
    padding:1.5rem 0;
}

hr{
    border: 1px solid grey;
}

ul{
list-style-type: "-";
}
ol {
    /* 1. Remove the default list style */  
    list-style: none;
  }
  
  ol > li {
    /* 2. Create a custom list counter */  
    counter-increment: listcounter;
  }
  
  ol > li::before {
    /*3. Set the new style for the list markers */
    content: counter(listcounter) ")";
  }